


.forgot-password{
    text-align:right;
    margin-top:-8px;
    margin-bottom:18px;
}

.forgot-password a{
    color:#94A3B8;
    text-decoration:none;
    font-size:14px;
}

.forgot-password a:hover{
    color:#0fb3a0;
}