.animated-bg{
position:fixed;
inset:0;
overflow:hidden;
z-index:-1;
background:#0B1120;
}

.blob{
position:absolute;
border-radius:50%;
filter:blur(90px);
animation:float 12s infinite ease-in-out;
}

.blob1{
width:300px;
height:300px;
background:#0fb3a0;
top:10%;
left:5%;
}

.blob2{
width:350px;
height:350px;
background:#2563eb;
right:10%;
top:25%;
animation-delay:3s;
}

.blob3{
width:280px;
height:280px;
background:#9333ea;
bottom:10%;
left:40%;
animation-delay:6s;
}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-50px);
}

100%{
transform:translateY(0px);
}

}